h1 {
  color: red;
}
.completed {
  text-decoration: line-through;
  color: gray;
}
.not {
  text-decoration: underline;
}

.Monday {
  background-color: red;
}

.Tuesday {
  background-color: yellow;
}

.Wednesday {
  background-color: orange;
}

.Thursday {
  background-color: aqua;
}

.Friday {
  background-color: green;
}

.Saturday {
  background-color: fuchsia;
}
